/*****************************************
* Variables
*****************************************/

/*****************************************
* Main
*****************************************/
.collection {
	.filter {
		display: flex;
		margin-bottom: 15px;
		text-transform: uppercase;
		.options {
			margin-left: auto;
		}
		.title {
			font-size: 1.9rem;
			color: #000;
			text-align: left;
		}
		.option {
			display: flex;
			align-items: center;
			justify-content: center;
			.label {
				color: #000;
				margin-right: 10px;
				font-weight: bold;
			}
			.btn {
				margin-left: 9px;
			}
		}
	}
	.items {
		.item {
			margin-bottom: 20px;
			border-bottom: 1px solid #ebebeb;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
.collection {
	.row {
		.item {
			margin-bottom: 20px;
		}
	}

}
/*****************************************
* Variant
*****************************************/
.collection {
	&.carousel {
		width: 100%;
		.owl {
			display: inline-block;
			width: 100%;
			min-height: 100px;
			.owl-carousel {
				position: absolute;
			}
		}
	}
	&.isotope {
		position: relative;
		display: inline-block;
		width: 100%;
		.items {
			.item {
				float: left;
				height: auto;
				cursor: pointer;
			}
			&.grid_4 {
				.item {
					width: 25%;
				}
				.size_2 {
					
				}
			}
		}
	}
}

/*****************************************
* Style
*****************************************/
.collection {
	&.discussion {
		.item {
			.meta {
				display: flex;
				font-size: 0.73333rem;
				line-height: 1;
				margin-bottom: 7px;
				.title {
					font-weight: bold;
					font-size: 0.87777rem;
					margin-bottom: 0;
					margin-right: 10px;
					line-height: 1;
				}
			}
			.text {
				font-size: 0.8599999rem;
				line-height: 1.4
			}
		}
	}
}
