.nav {

}

.nav {
	&.navgrid {
		display: flex;
		> li {
			flex: 1;
			list-style:none;
			padding: 0;
			margin: 0 10px;
			> a {
				border-bottom: 1px solid #dedede;
				width: 100%;
				padding: 7px 0px;
				margin-bottom: 10px;
				display: block;
			}
		}
		ul, .dropdown-menu {
			list-style:none;
			padding: 0;
			margin: 0;
			li {
				list-style:none;
				padding: 0;
				margin: 0;	
			}
		}

	}
}
