/*****************************************
* Variables
*****************************************/

/*****************************************
* Main
*****************************************/
.ux-form {


}



/*****************************************
* Variant
*****************************************/
.ux-form {

}

/*****************************************
* Style
*****************************************/
.ux-form {
	&.contact_wide {
		max-width: 700px;
		margin: 1rem auto;
		.form-group {
			.text {

			}
			textarea {
				min-height: 120px;
			}
		}

	}
}
