/*****************************************
* Variables
*****************************************/
$ux-content-padding: 25px 0px  !default;
$ux-content-margin: 0px !default;
/*****************************************
* Main
*****************************************/
.ux-content {
	display: block;
	position: relative;
	float: initial;
	padding: $ux-content-padding;
	margin: $ux-content-margin;
}

/*****************************************
* Variant
*****************************************/
.ux-content {
	
}

/*****************************************
* Style
*****************************************/
.ux-content {

}
