/*****************************************
* Variables
*****************************************/
$ux-cover-padding: 25px 0px  !default;
$ux-cover-margin: 0px !default;
$ux-cover-header-padding: 15px 0px !default;
$ux-cover-header-margin: 0px !default;
$ux-cover-inner-padding: 15px 0px !default;
$ux-cover-inner-margin: 0px !default;
$ux-cover-footer-padding: 15px 0px !default;
$ux-cover-footer-margin: 0px !default;

/*****************************************
* Main
*****************************************/
.ux-cover {
	position: relative;
	overflow: hidden;
	text-align: center;
	&:before {
		content: ' ';
		background: #000;
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		z-index: 1;
	}
	.container, .container-fluid, .inner {
		position: relative;
	}
	.breadcrumb {
		background: transparent;
		ul {
			display: flex;
			margin: 0 auto;
			padding: 0;
			li {
				margin: 0;
				padding: 7px 10px;
				list-style: none;
				font-size: 0.9rem;
			}
		}
	}
	.navbar {
		padding: 0;
		ul.nav {
			display: flex;
			padding: 0;
			li {
				margin: 0;
				padding: 7px 10px;
				list-style: none;
				font-size: 0.9rem;
			}
		}
	}
	.parallax {
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}
/*****************************************
* Overlay
*****************************************/
.ux-cover {
	&.overlay-light {
		&:before {
			background: #fff;
			
		}
	}
	&.overlay-dark {
		&:before {
			background: #000;
		}
	}
	&.overlay-0 {
		&:before {

			opacity: 0;
		}
	}
	&.overlay-10 {
		&:before {

			opacity: 0.10;
		}
	}
	&.overlay-20 {
		&:before {

			opacity: 0.20;
		}
	}
	&.overlay-30 {
		&:before {

			opacity: 0.30;
		}
	}
	&.overlay-40 {
		&:before {

			opacity: 0.40;
		}
	}
	&.overlay-50 {
		&:before {

			opacity: 0.50;
		}
	}
	&.overlay-60 {
		&:before {

			opacity: 0.60;
		}
	}
	&.overlay-70 {
		&:before {

			opacity: 0.70;
		}
	}
	&.overlay-80 {
		&:before {

			opacity: 0.80;
		}
	}
	&.overlay-90 {
		&:before {

			opacity: 0.90;
		}
	}
	&.overlay-100 {
		&:before {

			opacity: 1;
		}
	}
}


/*****************************************
* Variant
*****************************************/
.ux-cover {
	&.cover50 {
		height:50vh;
	}
	&.cover100 {
		height:100vh;
	}
}

/*********************************
* Responsive
* *******************************/
@media (max-width: 575.98px) { 

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
	.ux-cover {
		height: initial !important;
		.embed {
			img {
				max-width: initial;
				object-fit: cover;
			}
		}
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}
