/*****************************************
* Variables
*****************************************/
$ux-footer-padding: 15px 0px;
$ux-footer-margin: 0px;
/*****************************************
* Main
*****************************************/
.ux-footer {
	padding: $ux-footer-padding;
	margin: $ux-footer-margin;
}