/*****************************************
* Variables
*****************************************/

/*****************************************
* Layout
*****************************************/
.rating {
	display: inline-block;
	.stars {
		margin-right: 10px;
	}
	.score {

	}
	.note {
		margin-right: 10px;
		font-size: 0.9rem;
	}
}

/*****************************************
* variant
*****************************************/
.rating { 
	&.standard {

	}
}


/*****************************************
* styles
*****************************************/
.ux-rating { 
	&.standard {

	}
}
