$ux-background: #fff !default;
$ux-fontfamily:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !default;
$ux-fontsize: 1rem !default;
$ux-fontweight: 400 !default;
$ux-fontcolor: #565656 !default;
$ux-lineheight: 1.75714286rem !default;


